@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1 class="display-4">Resume AI </h1>
    <h3>Let us help you on your new journey.</h3>
    
 <p>Resume AI is a cutting-edge web application that harnesses the power of artificial intelligence to transform your resume into a powerful tool that opens doors to your dream career. <br> 
    In a world where every word, format, and detail matters, "ResumeRise" ensures your professional story is told in the most compelling way possible.<br> 
    Gone are the days of endless tweaking and second-guessing your resume. With our intelligent algorithms and expert-driven insights,<br> 
    "ResumeRise" offers a seamless and efficient solution to the often daunting task of resume optimization.<br> 
    Whether you're a recent graduate looking to land your first job or a seasoned professional aiming for that career-defining position, <br>
    our platform is designed to cater to your unique needs.</p>
<br>
<br>


</div>
